/* Grade colors */
.A {
  /* green */
  background: #1fcc3b;
}
.B {
  /* green */
  background: #b2cc17;
}
.C {
  /* yellow */
  background: #f2cc0d;
}
.D {
  /* orange */
  background: #e69c2e;
}
.E {
  /* red */
  background: #e85e2c;
}
.F {
  /* red */
  background: #e63939;
}
.NA {
  /* Non applicable */
  background: #CCC;
}
.board {
  margin-top: -150px;
  padding: 15px;
  background: #fff;
  color: #000;
  border-radius: 4px;
  text-align: left;
}
.screenshotWrapper {
  display: inline-block;
  position: relative;
  background: #000;
}
.screenshotWrapper > div {
  position: relative;
  overflow: hidden;
}
.screenshotWrapper > div:hover {
  overflow: auto;
}
.screenshotWrapper .screenshotImage {
  width: 100%;
}
.screenshotWrapper .screenshotError {
  color: #fff;
}
.screenshotWrapper.desktop {
  border: 0.2em solid #AAA;
  padding: 0.5em;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
}
.screenshotWrapper.desktop:before {
  position: absolute;
  width: 15em;
  height: 0.6em;
  bottom: -0.75em;
  left: -1em;
  background: #CCC;
  border-bottom-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  content: " ";
}
.screenshotWrapper.desktop:after {
  position: absolute;
  width: 0.4em;
  height: 0.2em;
  bottom: -0.55em;
  left: 12.5em;
  background: lime;
  content: " ";
}
.screenshotWrapper.desktop > div {
  width: 12em;
  height: 6.75em;
}
.screenshotWrapper.phone {
  border: 0.07em solid #CCC;
  padding: 1em 0.3em 1.5em;
  border-radius: 0.6em;
}
.screenshotWrapper.phone:before {
  position: absolute;
  width: 0.8em;
  height: 0.8em;
  bottom: 0.3em;
  left: 3.3em;
  border: 0.07em solid #CCC;
  border-radius: 0.5em;
  content: " ";
}
.screenshotWrapper.phone:after {
  position: absolute;
  width: 1em;
  height: 0.1em;
  bottom: 13.9em;
  left: 3.2em;
  background: #555;
  border-radius: 0.05em;
  content: " ";
}
.screenshotWrapper.phone > div {
  width: 6.75em;
  height: 12em;
}
.screenshotWrapper.tablet {
  border: 0.07em solid #CCC;
  padding: 0.8em 0.5em 0.9em;
  border-radius: 0.6em;
}
.screenshotWrapper.tablet:before {
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  bottom: 0.15em;
  left: 4.35em;
  border: 0.07em solid #CCC;
  border-radius: 0.4em;
  content: " ";
}
.screenshotWrapper.tablet > div {
  width: 8.25em;
  height: 11em;
}
.backToDashboard .btn-outline-primary,
.backToDashboard .btn-outline-primary:hover {
  border: 1px solid #1b2158 !important;
}
/*added by Christoffer*/
#body {
  padding-top: 8rem;
}
.website-test.my-5 h3 {
  color: #fff !important;
}
.website-test .container .mt-4 {
  color: #fff !important;
}
.website-test .container form label[for=domain] {
  color: #fff !important;
}
.website-test .container .how-you-want-to-see-your-website p {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 3rem !important;
}
.website-test .container .how-you-want-to-see-your-website button {
  background: none;
  border-style: none;
  color: #fff;
  margin: 0 1rem;
}
.website-test .container .how-you-want-to-see-your-website button.active {
  border-bottom: 2px solid #fe6658;
}
.website-test .container .how-you-want-to-see-your-website button span:first-child {
  display: block;
  font-size: 30px;
  padding: 0;
}
.website-test .container .how-you-want-to-see-your-website button span:last-child {
  display: block;
  font-size: 17px;
  margin: 0 auto;
  padding: .5rem 0;
}
.free-analysis .container .row .col-lg-8.offset-lg-2 {
  margin: 0 auto !important;
  padding-bottom: 1.5rem !important;
  text-align: center !important;
}
.free-analysis .container .row .col-lg-6 h3 {
  font-weight: 700;
  font-size: 20px;
  margin: 0 auto !important;
  padding-bottom: 1rem !important;
  text-align: center !important;
  text-transform: uppercase;
}
