.screenshot.board {
  text-align: center;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.screenshot .screenshotWrapper {
  font-size: 2.08333333333333em;
  margin-bottom: 0.5em;
}
