<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="mb-5 text-center">
                    SEO-testa din hemsida gratis här
                </h1>
            </div>
            <div class="col-lg-6 offset-lg-3">
                <p class="text-center normal">Få en analys av hur Google uppfattar din hemsida och vad du kan förbättra på den – det tar bara 1 min!</p>
            </div>
        </div>
    </div>
</section>
<section class="website-test my-5">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-lg-6 offset-lg-3 text-center">
            <form ng-submit="launchTest()">
                <div class="form-group">
                    <label for="search-domain">Fyll i din hemsidas URL nedan</label>
                    <input type="search" ng-model="url" class="form-control" id="search-domain" aria-describedby="search-domain" placeholder="https://www.minsida.se">
                    <button type="submit" class="btn btn-warning mr-0" ng-class="{disabled: !url}" ng-disabled="!url">Kör test</button>
                </div>
            </form>
        </div>
        <div class="col-lg-6 offset-lg-3 how-you-want-to-see-your-website pt-5">
            <p class="pb-0 mb-0">Välj hur du vill se din hemsida:</p>
            <button ng-class="{active: settings.device == 'desktop'}" ng-click="settings.device = 'desktop'">
                <span class="mdi mdi-desktop-mac"></span>
                <span class="device">Dator</span>
            </button>
            <button ng-class="{active: settings.device == 'tablet'}" ng-click="settings.device = 'tablet'">
                <span class="mdi mdi-tablet-ipad"></span>
                <span class="device">Surfplatta</span>
            </button>
            <button ng-class="{active: settings.device == 'phone'}" ng-click="settings.device = 'phone'">
                <span class="mdi mdi-cellphone-iphone"></span>
                <span class="device">Mobil</span>
            </button>
        </div>
    </div>
</section>

<section class="free-analysis">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2>Vad gör testet?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 my-3 pl-5">
                <h3>Status på sidan idag</h3>
                <p class="check-mark-prefix">Vi betygsätter din sida utifrån parameterar som vi vet att Google anser viktiga</p>
                <p class="check-mark-prefix">Ett generellt betyg sätts på sidan - mellan A-C</p>
                <p class="check-mark-prefix">Detaljerat betyg ges för respektive teknisk del</p>
            </div>
            <div class="col-lg-6 my-3">
                <h3>Förslag på förbättringar</h3>
                <p>När testet är gjort får du ett resultat som du kan luta dig tillbaka mot för att göra förbättringar som ökar chansen till bättre synlighet på Google. Behöver du rådgivning eller konsultation inom SEO är du välkommen att kontakta oss så hjälper vi till med rådgivning och eventuellt samarbetsförslag. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-6 text-right">
                <span>Test från Yellow Lab Tools</span>
            </div>
        </div>
    </div>
</section>