<section class="website-test my-5">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-lg-6 offset-lg-3 text-center">
            <strong class="d-block mb-4" ng-if="url"><em>Tested url:<a href="{{url}}" target="_blank" class="text-white d-block mt-2">{{url}}</a></em></strong>

            <div ng-if="!notFound && !connectionLost">
                <div ng-if="status.statusCode == 'failed'">
                    <h3>Test failed</h3>
                    <p>{{status.error}}</p>

                    <a class="btn btn-primary original" href="<%= baseUrl %>"><span class="mdi mdi-arrow-left mdi-24px original align-middle"></span> <small class="align-text-top">New test</small></a>
                </div>
                <div ng-if="status.statusCode == 'awaiting'">
                    <h3>
                        <ng-pluralize count="status.position" when="{'one': 'Waiting behind 1 other test', 'other': 'Waiting behind {} other tests'}">
                        </ng-pluralize>
                    </h3>
                    <p>(auto-refresh activated)</p>
                </div>
                <div ng-if="status.statusCode == 'running'">
                    <h3>Test is running...</h3>
                    <p>(auto-refresh activated)</p>
                </div>
                <div ng-if="status.statusCode == 'complete'">
                    <h3>Test complete</h3>
                    <p>Opening results...</p>
                </div>
            </div>
            <div ng-if="notFound == true">
                <h3>Error 404 (test not found)</h3>
                <p>The server probably just rebooted. We are very sorry about that, please try to launch the test again.</p>

                <a class="btn btn-primary original" href="<%= baseUrl %>"><span class="mdi mdi-arrow-left mdi-24px original align-middle"></span> <small class="align-text-top">New test</small></a>
            </div>
            <div ng-if="connectionLost == true">
                <h3>Connection lost with server</h3>
                <p>Check your wifi cable, or maybe YellowLab.tools is rebooting.</p>
            </div>
        </div>
    </div>
</section>