<section class="website-test my-5">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-lg-6 offset-lg-3 text-center">
            <strong class="d-block mb-4" ng-if="url"><em>Testad URL:<a href="{{url}}" target="_blank" class="text-white d-block mt-2">{{url}}</a></em></strong>

            <div ng-if="!notFound && !connectionLost">
                <div ng-if="status.statusCode == 'failed'">
                    <h3>Testet misslyckades</h3>
                    <p>{{status.error}}</p>

                    <a class="btn btn-primary original" href="<%= baseUrl %>"><span class="mdi mdi-arrow-left mdi-24px original align-middle"></span> <small class="align-text-top">Nytt test</small></a>
                </div>
                <div ng-if="status.statusCode == 'awaiting'">
                    <h3>
                        <ng-pluralize count="status.position" when="{'one': 'Du har 1 person före dig i kön', 'other': 'Du har {} personer före dig i kön'}">
                        </ng-pluralize>
                    </h3>
                    <p>(Uppdateras automatiskt)</p>
                </div>
                <div ng-if="status.statusCode == 'running'">
                    <h3>Testet körs (kan ta upp till 1 minut)</h3>
                    <p>(Uppdateras automatiskt)</p>
                </div>
                <div ng-if="status.statusCode == 'complete'">
                    <h3>Testet är klart</h3>
                    <p>Genererar resultatet...</p>
                </div>
            </div>
            <div ng-if="notFound == true">
                <h3>404 (Testet hittades inte)</h3>
                <p>Något gick fel. Testa köra testet lite senare, om det fortfarande inte fungerar får du gärna kontakta oss.</p>

                <a class="btn btn-primary original" href="<%= baseUrl %>"><span class="mdi mdi-arrow-left mdi-24px original align-middle"></span> <small class="align-text-top">Nytt test</small></a>
            </div>
            <div ng-if="connectionLost == true">
                <h3>Tappade anslutning till servern</h3>
                <p>Kolla gärna din anslutning. Testa köra testet lite senare, om det fortfarande inte fungerar får du gärna kontakta oss.</p>
            </div>
        </div>
    </div>
</section>