<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="mb-5 text-center">
                    TEKNISK WEBBANALYS - PÅ 1 MIN
                </h1>
            </div>
            <div class="col-lg-8 offset-lg-2">
                <p class="text-center normal">Scrolla för att se resultatet på hur er hemsida klarade vår tekniska webbanalys.</p>
            </div>
        </div>
    </div>
</section>
<section class="website-test my-5">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-lg-6 offset-lg-3 text-center">
            <strong class="d-block mb-5" ng-if="result.params.url"><em>Testad URL:<a href="{{result.params.url}}" target="_blank" class="text-white d-block mt-2">{{result.params.url}}</a></em></strong>

            <div class="d-block pt-3 pb-5 mb-5">
                <a class="btn btn-primary original mb-2 mr-md-4 col-12 col-md-5" href="<%= baseUrl %>"><span class="mdi mdi-arrow-left mdi-24px original align-middle"></span> <small class="align-text-top">Nytt test</small></a>
                <a class="btn btn-primary original ml-md-4 col-12 col-md-5" href="" ng-click="testAgain()"><span class="mdi mdi-rotate-right mdi-24px original align-middle"></span> <small class="align-text-top">Testa igen</small></a>
            </div>
        </div>
    </div>
</section>
