<div ng-include="'views/resultSubHeader.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <div class="screenshot board">
                <h2>Skärmbild</h2>

                <div class="screenshotWrapper" ng-class="result.params.options.device || 'desktop'">
                    <div>
                        <img ng-if="result.screenshotUrl" class="screenshotImage" ng-src="{{result.screenshotUrl}}"/>
                        <span ng-if="!result.screenshotUrl" class="screenshotError">Skärmbild är inte tillgänglig</span>
                    </div>
                </div>

                <p>(Scrolla på skärmbilden för att se hela innehållet)</p>

                <div class="backToDashboard"><a href="#" ng-click="backToDashboard()" class="btn btn-outline-primary original"><span class="mdi mdi-chevron-left"></span> Gå tillbaka</a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-6 text-center pt-3">
            <span>Test från Yellow Lab Tools</span>
        </div>
    </div>
</div>